<div class="btn-group" role="group" >
  <div class="btn btn-default js-graph-btn">
    Graph
  </div>
  <div class="btn btn-default js-table-btn">
    Table
  </div>
</div>
<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
  <i class="fas fa-sliders-h"></i> Filters
</button>

<form class="area-diversity collapse" id="collapseFilters">
  <div class="row">
    <div class="col-sm-6">
      <%= render partial: "shared/filters_taxa_divisions" %>

    </div>

    <div class="col-sm-6">
      <fieldset>
        <legend>Collection period</legend>
        <div class="checkbox">
          <label for="all">
            <input type="checkbox" name="months" id="all" value="all" checked>
            All
          </label>
        </div>
        <div class="checkbox">
          <label for="february">
            <input type="checkbox" name="months" id="february" value="february">
            February
          </label>
        </div>
        <div class="checkbox">
          <label for="april">
            <input type="checkbox" name="months" id="april" value="april">
            April
          </label>
        </div>
      </fieldset>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Apply filters</button>
  <button class="btn btn-primary js-reset-filters">Reset filters</button>
</form>

<h3>eDNA</h3>
<div id="graph-edna"></div>
<div id="table-edna"></div>

<h3>GBIF</h3>
<div id="graph-gbif"></div>
<div id="table-gbif"></div>

<%= javascript_pack_tag 'pp_area_diversity' %>
