

<h2>Stats</h2>
<table class="table">
  <tr>
    <th>Source</th>
    <th>Occurrences</th>
    <th>Unique Organisms Identified</th>
  </tr>
  <tr>
    <td>CALeDNA</td>
    <td><%= @stats[:cal_stats][:occurrences] %> samples</td>
    <td><%= @stats[:cal_stats][:organisms] %></td>
  </tr>
  <tr>
    <td>GBIF</td>
    <td><%= @stats[:gbif_stats][:occurrences] %> observations</td>
    <td><%= @stats[:gbif_stats][:organisms] %></td>
  </tr>
</table>
