<div id='mapid'></div>
<%= javascript_pack_tag 'pillar_point_map' %>

Areas of interest
<ul>
  <li>red: Pillar Point State Marine Conservation Area (SMCA)</li>
  <li>blue: unprotected tidal pools</li>
  <li>orange: unprotected embankment</li>
</ul>

Markers
<ul>
  <li>pin icons: eDNA sites</li>
  <li>circles: GBIF occurrences</li>
</ul>
