<div class="row">
  <div class="col-sm-6">
    <h2>CALeDNA</h2>

    <h3>Total ASVS</h3>
    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.cal_counts(@division_counts[:cal]),
        total:  PillarPointHelper.total(@division_counts[:cal].values)
      } %>

    <h3>Unique Organism</h3>
    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.cal_counts(@division_counts_unique[:cal]),
        total: PillarPointHelper.total(@division_counts_unique[:cal].values)
      } %>
  </div>

  <div class="col-sm-6">
    <h2>GBIF</h2>

    <h3>Total Occurrences</h3>
    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.gbif_counts(@division_counts[:gbif]),
        total: PillarPointHelper.total(@division_counts[:gbif].values)
      } %>

    <h3>Unique Species</h3>
    <%= render partial: "research_projects/pillar_point/occurrence_table",
      locals: {
        occurrence_stats: PillarPointHelper.gbif_counts(@division_counts_unique[:gbif]),
        total: PillarPointHelper.total(@division_counts_unique[:gbif].values)
      } %>
  </div>
</div>
