  <ul class="submenu">
    <li><a href="/research_projects/pillar-point">Intro</a></li>
    <li><a href="/research_projects/pillar-point?section=occurrence_comparsion">Occurrence Comparsion</a></li>
    <li><a href="/research_projects/pillar-point?section=gbif_breakdown">GBIF Species Breakdown</a></li>
  </ul>
