  <ul class="submenu">
    <li><a href="/research_projects/pillar-point">Intro</a></li>
    <li><a href="/research_projects/pillar-point?section=occurrence_comparsion">Occurrence Comparsion</a></li>
    <li><a href="/research_projects/pillar-point?section=gbif_breakdown">GBIF Species Breakdown</a></li>
    <li><a href="/research_projects/pillar-point?section=edna_gbif_comparison">eDNA compared to GBIF</a></li>
    <li><a href="/research_projects/pillar-point?section=common_taxa">Common Taxa eDNA and GBIF</a></li>
    <li><a href="/research_projects/pillar-point?section=area_diversity">Area Diversity</a></li>
    <li><a href="/research_projects/pillar-point?section=taxonomic_frequency">Taxonomic Frequency</a></li>
    <li><a href="/research_projects/pillar-point?section=interactions">Biotic Interactions</a></li>
  </ul>
