  <ul class="submenu">
    <li><a href="/beta/ebbe_nielsen">Intro</a></li>
    <li><a href="/beta/ebbe_nielsen?section=occurrence_comparsion">Occurrence Comparsion</a></li>
    <li><a href="/beta/ebbe_nielsen?section=gbif_breakdown">GBIF Species Breakdown</a></li>
    <li><a href="/beta/ebbe_nielsen?section=edna_gbif_comparison">eDNA compared to GBIF</a></li>
    <li><a href="/beta/ebbe_nielsen?section=common_taxa">Common Taxa eDNA and GBIF</a></li>
    <li><a href="/beta/ebbe_nielsen?section=interactions">Biotic Interactions</a></li>
  </ul>
