<% content_for(:title) { 'Update taxa counts' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <p>For each taxa, update the number of samples that contain that taxa.</p>

  <%= simple_form_for :samples, url: admin_labwork_update_taxa_asvs_count_path, method: :put do |f| %>
  <%= f.submit 'Update taxa counts' %>
  <% end %>
</section>
