<% content_for(:title) { 'Sync Research Project Samples' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <p>
    After importing eDNA results,  sync the samples to update the maps and stats.
  </p>

  <%= simple_form_for :samples, url: admin_labwork_update_taxa_asvs_count_path, method: :put do |f| %>
  <%= f.submit 'Sync Samples' %>
  <% end %>
</section>
