<style>
  .node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node text {
    font-size: 18px;
  }

  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  svg {
    border: 2px solid #aaa;
  }

</style>

<h2><%= organisms.length %> Organisms from ASVs</h2>

<div id="asv-tree"></div>
