<div class="page-header">
  <h1>
    Samples <%= " : #{@display_name}" if @display_name %>
  </h1>
  <p>
    Here's all the soil or sediment collected in the field and sent
    back to CALeDNA for genetic analyses.
  </p>
</div>

<%= render partial: "samples_menu" %>

<% if params[:view] == 'list' %>
  <%= render partial: "samples/list",
    locals: { samples: @samples }  %>
<% else %>
  <%= render partial: "samples/map", locals: { samples: @samples,
  initial_lat: params[:lat], initial_lng: params[:lng] } %>
<% end %>
