<h1 class="title">
  Samples <%= " : #{@display_name}" if @display_name %>
</h1>

<%= render partial: "samples_menu" %>

<% if params[:view] == 'list' %>
  <%= render partial: "samples/list", locals: { samples: @samples }  %>
<% else %>
  <%= render partial: "samples/map", locals: { samples: @samples } %>
<% end %>
