<% content_for(:title) { 'Import Samples' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <p>Upload CSV to create or update samples.</p>

  <%= form_tag admin_labwork_samples_csv_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</section>
