@import "variables";

$brand-primary: darken($theme-base-color, 35%) !default;

@import "photoswipe/photoswipe";
@import "photoswipe/default-skin/default-skin";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "events";
// @import "devise";
@import "samples";
@import "searches";
@import "taxa";
@import "site_news";
@import "common";
@import "utils";
@import "river_home";
@import "profile";
@import "auth";
// @import "surveys";
@import "map";
@import "text_editor";
@import "tree-chart";
@import "research_projects";
@import "base";

// =============
// layout
// =============

.main-container {
  padding-top: 4rem;
}

// =============
// footer at bottom of page or end of content
// https://stackoverflow.com/a/12253099
// =============

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#main-wrapper {
  min-height: 100%;
  position: relative;
  padding: 0;
  padding-bottom: 18rem;
}

footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  min-height: 6rem;
}

@media (max-width: 768px) {
  #main-wrapper {
    padding-bottom: 24rem;
  }

  footer {
    min-height: 6rem;
  }
}
