#river-explorer {
  #controls {
    width: 300px;
    float: left;
    padding-right: 1em;
  }
  #explorer-content {
    margin-left: 300px;
  }

  #map {
    border: 1px solid black;
    height: 700px;
    background-color: white;
  }

  .data-list {
    padding: 1em 0;
    height: 450px;
    overflow-y: scroll;

    h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  .data-layers {
    margin-top: 1em;
  }

  .data-layer {
    width: 100%;
    border: 1px #aaa solid;
    padding: 7px;
  }

  .data-tab {
    border: 1px solid #aaa;
    padding: 1.5em;
  }

  .taxon-tab {
    border: 1px solid #aaa;
    padding: 1.5em;
  }

  .legend-img {
    width: 200px;
  }

  .main-container {
    ul {
      list-style: none;
      padding: 0;
    }
  }

  .leaflet-popup-content p {
    margin: 0.5rem 0;
  }

  table.map-popup th {
    padding-right: 0.75rem;
  }

  .analyte-list label {
    font-weight: normal;
  }
}
