#home {
  .main-container {
    padding-top: 0;
  }

  #main-wrapper {
    padding-bottom: 12.75rem;

    section {
      h1:first-of-type,
      h2:first-of-type,
      h3:first-of-type,
      h4:first-of-type {
        margin-top: 0;
      }

      padding: 5rem 0;
    }
    section:nth-child(even) {
      background: $light-grey-background;
    }

    // padding-bottom: 12.5rem;
  }

  .news h4 {
    padding-top: 1em;
  }

  @media (max-width: 768px) {
    .main-container {
      padding-top: 1.5em;
    }
  }

  .hero {
    position: relative;

    img {
      width: 100%;
    }

    @media (min-width: 768px) {
      .overlay {
        color: #fff;
        padding: 1em 0;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        letter-spacing: 2px;
        width: 100%;
        text-shadow: 2px 2px 8px #000;
        font-weight: 500;
      }
    }

    .overlay {
      p {
        font-size: 1.5em;
      }
    }
  }

  ul.home-stats {
    li {
      font-size: 1.15em;
    }
  }

  .activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;

    h3 {
      border: 0 solid #ddd;
      border-width: 0 1px;
      margin: 0;
      padding: 10px 10px 0px 10px;
      text-align: center;
    }

    .item {
      margin-bottom: 1em;

      p {
        border: 0 solid #ddd;
        border-width: 0 1px 1px 1px;
        padding: 10px;
        color: #333;
      }

      img {
        width: 100%;
      }
    }

    @media (min-width: 768px) {
      .item {
        width: 300px;
      }

      .item img {
        width: 300px;
      }
    }
  }
}
