#home {
  #main-wrapper {
    padding-bottom: 21rem;
  }

  @media (min-width: 768px) {
    #main-wrapper {
      padding-bottom: 12.75rem;
    }
  }

  .main-container {
    padding-top: 0;

    section {
      padding: 3rem 0;

      h1:first-of-type,
      h2:first-of-type,
      h3:first-of-type,
      h4:first-of-type {
        margin-top: 0;
      }
    }

    section:nth-child(even) {
      background: $light-grey-background;
    }

    @media (min-width: 768px) {
      section {
        padding: 5rem 0;
      }
    }
  }

  .hero {
    position: relative;

    img {
      width: 100%;
    }

    .overlay {
      padding: 0.75em 0;
      background: #333;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 500;
      font-size: 1.2em;
    }

    @media (min-width: 768px) {
      .overlay {
        color: #fff;
        padding: 1em 0;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        text-shadow: 2px 2px 8px #000;
        font-size: 1.5em;
      }
    }
  }

  ul.home-stats {
    list-style: none;
    padding-left: 0;
    li {
      font-size: 1.25em;
    }
  }

  .activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;

    h3 {
      border: 0 solid #ddd;
      border-width: 0 1px;
      margin: 0;
      padding: 10px 10px 0px 10px;
      text-align: center;
    }

    .item {
      margin-bottom: 1em;

      p {
        border: 0 solid #ddd;
        border-width: 0 1px 1px 1px;
        padding: 10px;
        color: #333;
      }

      img {
        width: 100%;
      }
    }

    @media (min-width: 768px) {
      .item {
        width: 300px;
      }

      .item img {
        width: 300px;
      }
    }
  }
}
