#river-explorer {
  .autosuggest-container {
    display: flex;
    justify-content: center;
    width: 280px;
  }

  #autosuggest {
    div[role="combobox"] {
      display: inline;
      input {
        width: 80%;
      }
    }
  }
  #autosuggest ul {
    border: 1px solid $grey-border;
  }
  #autosuggest li {
    padding: 0.5rem;
    border-bottom: 1px solid $grey-border;
  }
  #autosuggest li:hover {
    cursor: pointer;
  }
  .autosuggest__results-item--highlighted {
    background-color: #efefef;
  }

  #controls {
    width: 300px;
    float: left;
    padding-right: 1em;

    h2 {
      margin-bottom: .25em;
      font-size: 1.5em;
    }
  }
  #explorer-content {
    border: 1px solid #aaa;
    margin-left: 300px;
  }

  .map-container {
    border: 1px solid black;
    height: 700px;
    background-color: black;
  }

  .data-list {
    padding: 1em 0;
    height: 450px;
    overflow-y: scroll;

    h3 {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  .data-layers {
    margin-top: 1em;
  }

  .data-layer {
    width: 100%;
    border: 1px #aaa solid;
    margin-bottom: 0.75em;

    .data-header {
      padding: 7px;
      border-bottom: 1px solid #aaa;
      position: relative;

      .input-group {
        margin-right: 21px;
      }

      svg {
        position: absolute;
        right: 7px;
        top: 7px;
      }
    }

    .data-body {
      padding: 10px;
    }



    .data-footer {
      padding: 7px;
      border-top: 1px solid #ccc;
      span {
        margin-right: 10px;
      }
    }
  }

  .data-tab {
    padding: 1.5em;
  }

  .taxon-tab {
    padding: 1.5em;
  }

  .map-legend {
    background: white;
    padding: .5em;
    font-size: 1.1em;
  }

  .main-container {
    ul {
      list-style: none;
      padding: 0;
    }
  }

  .leaflet-popup-content p {
    margin: 0.5rem 0;
  }

  table.map-popup th {
    padding-right: 0.75rem;
  }

  .analyte-list label {
    font-weight: normal;
  }

  .menu-legend li {
    display: flex;
  }
}
