#river-inat {
  .map-container {
    border: 1px solid black;
    height: 700px;
    background-color: white;
  }

  .my-container {
    display: flex;
    section {
      flex-basis: 50%;

    }
  }

  .map-legend {
    background: white;
    padding: .5em;
    font-size: 1.1em;


  }
}
