---
http_interactions:
- request:
    method: get
    uri: http://eol.org/api/pages/1.0.json?id=1151354&images_per_page=1&sounds_per_page=0&taxonomy=false&texts_per_page=0&videos_per_page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://eol.org/api/pages/1.0.json?taxonomy=false&id=1151354&images_per_page=1&texts_per_page=0&sounds_per_page=0&videos_per_page=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 29 Aug 2019 22:53:58 GMT
- request:
    method: get
    uri: https://eol.org/api/pages/1.0.json?id=1151354&images_per_page=1&sounds_per_page=0&taxonomy=false&texts_per_page=0&videos_per_page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d8a825dd41bc5f8a194e505c2a51f2f"
    body:
      encoding: UTF-8
      string: '{"taxonConcept":{"identifier":1151354,"scientificName":"Quercus poilanei
        Hickel \u0026 A.Camus","richness_score":null}}'
  recorded_at: Thu, 29 Aug 2019 22:53:59 GMT
recorded_with: VCR 4.0.0
