---
http_interactions:
- request:
    method: get
    uri: http://eol.org/api/pages/1.0.json?id=1&images_per_page=1&sounds_per_page=0&taxonomy=false&texts_per_page=0&videos_per_page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://eol.org/api/pages/1.0.json?taxonomy=false&id=1&images_per_page=1&texts_per_page=0&sounds_per_page=0&videos_per_page=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 29 Aug 2019 14:25:39 GMT
- request:
    method: get
    uri: https://eol.org/api/pages/1.0.json?id=1&images_per_page=1&sounds_per_page=0&taxonomy=false&texts_per_page=0&videos_per_page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1687bbcc9990c83dd6564b8e03a61a15"
    body:
      encoding: UTF-8
      string: '{"taxonConcept":{"identifier":1,"scientificName":"Metazoa","richness_score":null,"dataObjects":[{"identifier":"EOL-media-140-10899325a9e616256669b54425fad550","dataObjectVersionID":9715455,"dataType":"http://purl.org/dc/dcmitype/StillImage","dataSubtype":"jpg","vettedStatus":"Trusted","dataRatings":[],"mediumType":"image","dataRating":"2.5","mimeType":"image/jpeg","height":"400","width":"400","created":"2019-05-06T17:09:48.000Z","modified":"2019-05-06T17:09:48.000Z","license":"http://creativecommons.org/licenses/by-nc/3.0/","license_id":2,"language":"en","rightsHolder":"Femorale","source":"http://www.femorale.com/shellphotos/detail.asp?species=Calocochlia%20lalloensis%20(Pfeiffer,%201855)","mediaURL":"http://www.femorale.com/shellphotos/photos30/60402.jpg","eolMediaURL":"https://content.eol.org/data/media/94/ad/14/140.10899325a9e616256669b54425fad550.jpg","eolThumbnailURL":"https://content.eol.org/data/media/94/ad/14/140.10899325a9e616256669b54425fad550.98x68.jpg","agents":[{"full_name":"Femorale","homepage":null,"role":"provider"}]}]}}'
  recorded_at: Thu, 29 Aug 2019 14:25:39 GMT
recorded_with: VCR 4.0.0
