---
http_interactions:
- request:
    method: get
    uri: http://api.inaturalist.org/v1/taxa?q=abc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1fab-cv4nMUX8dS4nZIeDdvEynURYWYo"
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":12,"page":1,"per_page":30,"results":[{"observations_count":6,"taxon_schemes_count":1,"ancestry":"48460/1/2/355675/40151/41573/41636/41637/41641","is_active":true,"wikipedia_url":"http://en.wikipedia.org/wiki/ABC_Islands_bear","current_synonymous_taxon_ids":null,"iconic_taxon_id":40151,"rank_level":5,"taxon_changes_count":0,"atlas_id":null,"complete_species_count":null,"parent_id":41641,"name":"Ursus
        arctos sitkensis","rank":"subspecies","extinct":false,"id":147159,"default_photo":{"square_url":"https://static.inaturalist.org/photos/1491897/square.jpg?1421556745","attribution":"(c)
        Donna Pomeroy, some rights reserved (CC BY-NC)","flags":[],"medium_url":"https://static.inaturalist.org/photos/1491897/medium.jpg?1421556745","id":1491897,"license_code":"cc-by-nc","original_dimensions":{"width":2048,"height":1365},"url":"https://static.inaturalist.org/photos/1491897/square.jpg?1421556745"},"ancestor_ids":[48460,1,2,355675,40151,41573,41636,41637,41641,147159],"matched_term":"ABC
        Islands Brown Bear","iconic_taxon_name":"Mammalia","preferred_common_name":"Coastal
        Grizzly Bear"},{"observations_count":2,"taxon_schemes_count":1,"ancestry":"48460/47126/211194/47125/47124/47181/48064/55869/55859","is_active":true,"wikipedia_url":null,"current_synonymous_taxon_ids":null,"iconic_taxon_id":47126,"rank_level":5,"taxon_changes_count":6,"atlas_id":null,"complete_species_count":null,"parent_id":55859,"name":"Cyclamen
        coum caucasicum","rank":"subspecies","extinct":false,"id":55864,"default_photo":{"square_url":"https://static.inaturalist.org/[...]
- request:
    method: get
    uri: http://eol.org/api/search/abc.json?exact=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"680789d112bac3b8a0e94196c54f58b4"'
    body:
      encoding: UTF-8
      string: '{"totalResults":0,"startIndex":1,"itemsPerPage":30,"results":[]}'
  recorded_at: Sun, 06 May 2018 16:03:20 GMT
recorded_with: VCR 4.0.0
