---
http_interactions:
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=%20%20%20%20%20%20SELECT%20?item%20?Global_Biodiversity_Information_Facility_ID%20?IUCN_taxon_ID%0A%20%20%20%20%20%20?Encyclopedia_of_Life_ID%20?ITIS_TSN%20?BioLib_ID%20?iNaturalist_taxon_ID%0A%20%20%20%20%20%20?WoRMS_ID%20?NCBI_Taxonomy_ID%20?taxon_range_map_image%0A%20%20%20%20%20%20?temporal_range_start%20?temporal_range_startLabel%20?temporal_range_end%0A%20%20%20%20%20%20?temporal_range_endLabel%20?endemic_to%20?endemic_toLabel%20?ADW_taxon_ID%0A%20%[...]
- request:
    method: get
    uri: http://eol.org/api/pages/1.0.json?id=83176&images_per_page=1&sounds_per_page=0&taxonomy=false&texts_per_page=0&videos_per_page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"b87326d9ebe65929b549219579d6fb06"'
    body:
      encoding: UTF-8
      string: '{"identifier":83176,"scientificName":"Cellvibrio","richness_score":0.0,"dataObjects":[]}'
  recorded_at: Sat, 26 May 2018 21:20:10 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php/?action=wbgetentities&format=json&ids=Q5058393&props=sitelinks&sitefilter=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.wikidata.org/w/api.php?action=wbgetentities&props=sitelinks&ids=Q5058393&sitefilter=enwiki&format=json
      Backend-Timing:
      - D=18600 t=1527369610527506
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 2606:6000:6222:7700:8121:42ac:4623:a757
    body:
      encoding: ASCII-8BIT
      string: This endpoint does not support "path info", i.e. extra text between
        "api.php"and the "?". Remove any such text and try again.
  recorded_at: Sat, 26 May 2018 21:20:10 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q5058393&props=sitelinks&sitefilter=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.json
      Backend-Timing:
      - D=45763 t=1527369610729853
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=26-May-2018;WMF-Last-Access-Global=26-May-2018;https=1
      X-Client-Ip:
      - 2606:6000:6222:7700:8121:42ac:4623:a757
    body:
      encoding: UTF-8
      string: '{"entities":{"Q5058393":{"type":"item","id":"Q5058393","sitelinks":{"enwiki":{"site":"enwiki","title":"Cellvibrio","badges":[]}}}},"success":1}'
  recorded_at: Sat, 26 May 2018 21:20:10 GMT
recorded_with: VCR 4.0.0
