<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @name %>,
    <p>
      <%= pluralize(@samples_count, 'eDNA sample') %> need to be processed.
    </p>

    <p>Thank you,<br>
      CALeDNA Team
    </p>
  </body>
</html>
