<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field field-unit--has-many">
  <%= f.select(field.attribute, nil, {}, multiple: true) do %>
    <%= options_for_select(field.select_field_values, field.selected_ids) %>
  <% end %>
</div>
