<% content_for(:title) { 'Import Taxonomy from DNA Results' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <p>Upload CSV to import taxonomy from DNA test results.</p>

  <%= form_tag admin_labwork_import_results_taxa_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</section>
