<ul class="submenu">
  <li><a href="http://www.ucedna.com/become-a-community-scientist/">Intro</a></li>
  <li><a href="http://www.ucedna.com/safety-training/">Safety Training</a></li>
  <li><a href="http://www.ucedna.com/kit-training/">Kit Training</a></li>
  <li><%= link_to 'Safety Training Quiz', survey_path('safety-training-quiz') %></li>
  <li><%= link_to 'Kit Training Quiz', survey_path('kit-training-quiz') %></li>
</ul>
