<fieldset>
  <legend>Substrate</legend>
  <div class="checkbox">
    <label for="all_substrate">
      <input class="filter-option" type="checkbox" name="substrate" id="all_substrate" value="all" checked>
      All
    </label>
  </div>
  <div class="checkbox">
    <label for="soil">
      <input class="filter-option" type="checkbox" name="substrate" id="soil" value="soil">
      Soil
    </label>
  </div>
  <div class="checkbox">
    <label for="sediment">
      <input class="filter-option" type="checkbox" name="substrate" id="sediment" value="sediment">
      Sediment
    </label>
  </div>
  <div class="checkbox">
    <label for="water">
      <input class="filter-option" type="checkbox" name="substrate" id="water" value="water">
      Water
    </label>
  </div>
</fieldset>
