<fieldset>
  <legend>Taxa rank</legend>
  <div class="radio">
    <label for="phylum">
      <input class="filter-option" type="radio" name="taxon_rank" id="phylum" value="phylum" checked>
      phylum
    </label>
  </div>
  <% ['class', 'order', 'family', 'genus', 'species'].each do |rank| %>
    <div class="radio">
      <label for="<%= rank %>">
        <input class="filter-option" type="radio" name="taxon_rank" id="<%= rank %>" value="<%= rank %>">
        <%= rank %>
      </label>
    </div>
  <% end %>
</fieldset>
