<fieldset>
  <legend>Kingdoms</legend>
  <div class="checkbox">
    <label for="all_taxon_groups">
      <input class="filter-option" type="checkbox" name="taxon_groups" id="all_taxon_groups" value="all" checked>
      All
    </label>
  </div>
  <% CombineTaxon::KINGDOMS.each do |kingdom| %>
    <div class="checkbox">
      <label for="<%= kingdom %>">
        <input class="filter-option" type="checkbox" name="taxon_groups" id="<%= kingdom %>" value="<%= kingdom %>">
        <%= kingdom %>
      </label>
    </div>
  <% end %>
</fieldset>
