<fieldset>
  <legend>Sample Status</legend>
  <div class="radio">
    <label for="all_status">
      <input class="filter-option" type="radio" name="status" id="all_status" value="all" checked>
      All
    </label>
  </div>
  <div class="radio">
    <label for="approved">
      <input class="filter-option" type="radio" name="status" id="approved" value="approved">
      Approved
    </label>
  </div>
  <div class="radio">
    <label for="results_completed">
      <input class="filter-option" type="radio" name="status" id="results_completed" value="results_completed">
      Results Completed
    </label>
  </div>
</fieldset>
