<%# NOTE: Changed the generated Administrate file. Added non-resource-based links. %>

<nav class="navigation" role="navigation">
  <p>Hi, <%= current_researcher.username %></p>
  <%= link_to 'Logout', destroy_researcher_session_path, method: :delete,
    class: 'navigation__link navigation' %>

  <hr>

  <% if policy('Labwork::Home'.to_sym).index? %>
    <%= link_to 'Process Samples', admin_labwork_path,
      class: "navigation__link navigation__link--#{action_name == 'list_projects' ? 'active' : 'inactive'}" %>
  <% end %>

  <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
    <%
      non_model_dashboards = ['user_author', 'researcher_author']
      next if non_model_dashboards.include?(resource.resource)
      next if resource.resource.starts_with?('labwork')

      next unless policy(resource.name.to_s.singularize.to_sym).index?
    %>

    <%
      # adminstrate can't handle modes with nonstandard inflictions
      # https://github.com/thoughtbot/administrate/issues/400
      def resource_path(resource)
        nonstandard_inflections = [:site_news]

        if nonstandard_inflections.include?(resource.name)
          ActiveModel::Naming.route_key(resource.to_s.classify.constantize)
        else
          resource.path
        end
      end
    %>
    <%= link_to(
      display_resource_name(resource),
      [namespace, resource_path(resource)],
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) %>
  <% end %>
</nav>
