<%# NOTE: Changed the generated Administrate file. Added non-resource-based links. %>

<nav class="navigation" role="navigation">
  <p>Hi, <%= current_researcher.username %></p>
  <%= link_to 'Logout', destroy_researcher_session_path, method: :delete,
    class: 'navigation__link navigation' %>

  <hr>

  <% if policy('Labwork::Home'.to_sym).index? %>
    <%= link_to 'Process Labwork', admin_labwork_path,
      class: "navigation__link navigation__link--#{action_name == 'list_projects' ? 'active' : 'inactive'}" %>
  <% end %>

  <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
    <%
      non_model_dashboards = ['labwork/process_extractions',  'labwork/home', 'labwork/kobo',
      'labwork/assign_samples', 'labwork/approve_samples', 'batch_actions',
      'labwork/import_csv', 'labwork/dna_results']
      next if non_model_dashboards.include?(resource.resource)
      next unless policy(resource.name.to_s.singularize.to_sym).index?
    %>

    <%= link_to(
      display_resource_name(resource),
      [namespace, resource.path],
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) %>
  <% end %>
</nav>
