<div class="row">
  <div class="col-md-3">
    <div class="radio">
    Marker type:
      <label>
        <input type="radio" name="markerType" checked class="js-marker-type" value="cluster"> cluster markers
        <input type="radio" name="markerType" class="js-marker-type" value="individual"> individual markers
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div id='mapid-advance'></div>
  </div>
</div>

<%= javascript_pack_tag 'map' %>
