<div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <label>
        <input type="checkbox" checked class="js-cluster-markers"> cluster markers
      </label>
    </div>
  </div>
  <div class="col-md-9">
    <div id='mapid-advance'></div>
  </div>
</div>

<%= javascript_pack_tag 'map' %>
