<section class="cta section-grey">
  <div class="container">
    <p>Help protect California's biodiversity.</p>
    <%= link_to 'Join CALeDNA', new_user_registration_path, class: "btn btn-primary" %>
  </div>
</section>
