<% if page.menu_cd == 'get_involved_community_scientist' ||
  page.slug == 'become_community_scientist' %>

  <ul class="submenu">
    <li><%= link_to 'Intro', become_community_scientist_path  %></li>
    <% PagesHelper.get_involved_citizen_scientist.each do |page| %>
      <li><%= link_to page[:title], page[:slug] %></li>
    <% end %>
    <li><a href="http://www.ucedna.com/kit-training/">How to Collect Samples</a>
    <li><a href="http://www.ucedna.com/safety-training-quiz/">Safety and Kit Training Quizzes</a>
  </ul>
<% elsif page.menu_cd == 'get_involved_researcher' ||  page.slug == 'data_analysis_researchers' %>
  <ul class="submenu">
    <li><%= link_to 'Intro', data_analysis_researchers_path  %></li>
    <li><a href="http://www.ucedna.com/software/">Our Software</a>
  </ul>
<% elsif page.menu_cd == 'get_involved_researcher' ||  page.slug == 'data_analysis_for_researchers' %>
  <ul class="submenu">
    <li><%= link_to 'Intro', data_analysis_for_researchers_path  %></li>
    <li><a href="http://www.ucedna.com/software/">Our Software</a>
  </ul>
<% end %>
