<span class="samples-links">
  <a href="<%= map_path %>">
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
  </a>
  <a href="<%= list_path %>">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List
  </a>
</span>
