<div class="page-header">
  <h1>Field Data Projects</h1>
  <p>
    Here's all the events where community scientists and researchers collected
    soil and sediment samples.
  </p>
</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Number of Samples</th>
  </tr>

  <% @projects.each do |project| %>
    <tr class="clickable_row" data-path='<%=  field_data_project_path project%>' >
      <td><%= project.name %></td>
      <td><%= project.samples.count %> </td>
    </tr>
  <% end %>
</table>

<%= paginate @projects %>
