<% content_for(:title) { "Processing eDNA: Sync Samples" } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <p>
    After approving/rejecting a bunch of samples, we need to sync the samples
    to make sure the maps and stats in the grey boxes show all the samples.
  </p>

  <%= form_tag  admin_labwork_update_sync_samples_path, method: :put  do |f| %>
    <div>
      <%= submit_tag "Sync Samples"%>
    </div>
  <% end %>
</section>


