// ================
// buttons
// ================

.btn {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.75em 1.5em;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  font-weight: 700;
}

input[type="submit"].btn-default {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}


// ================
// specific styles
// ================

.samples-menu {
  margin-bottom: 1em;
}

.assign-samples-menu {
  margin-bottom: 1em;

  select {
    display: inline;
    max-width: 70%;
    margin-right: 1em;
  }
}

.multiple-records-list {
  margin: 0em 2em 2em 2em;
}

table.no-auto-link {
  a {
    color: #1976d2;
    text-decoration: underline;
  }

  tr {
    cursor: auto;
  }
}

.attribute-data--json pre {
  overflow-wrap: break-word;
  width: 80vw;
}
