<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div id="social-media-links">
          <a href="https://www.facebook.com/ucconservationgenomics/">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="https://www.instagram.com/cal.e.dna/">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
          <a href="https://twitter.com/CALeDNA_biodiv">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </div>

        <ul>
          <li><%= link_to 'Contact Us', contact_us_path %></li>
        </ul>
      </div>

      <div class="col-sm-9">
        <%= sanitize PageBlock.find_by(slug: 'pour-footer')&.content %>
      </div>
    </div>
  </div>
</footer>
