<style>
#taxonomic-diversity-chart-cal, #taxonomic-diversity-chart-gbif {
  margin-left: -340px;
}
</style>

<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
  <i class="fas fa-sliders-h"></i> Filters
</button>

<form autocomplete="off" class="area-diversity collapse" id="collapseFilters">
  <div class="row">
    <div class="col-sm-6">
      <%= render partial: "shared/filters_taxa_kingdoms" %>
    </div>

    <div class="col-sm-6">
      <%= render partial: "shared/filters_taxa_ranks" %>
    </div>
  </div>

  <button type="submit" class="btn btn-primary js-submit-filters">Apply filters</button>
  <button class="btn btn-primary js-reset-filters">Reset filters</button>
</form>

<div class="row">
  <div>
    <div id="taxonomic-diversity-chart-cal"></div>
  </div>
</div>



<%= javascript_pack_tag 'la_river_detection_frequency' %>
