<%
hahamongna = @identified_species_by_location['{Hahamongna}']
both = @identified_species_by_location['{Hahamongna,"Maywood Park"}']
maywood = @identified_species_by_location['{"Maywood Park"}']
locations = [
  { title: 'Hahamongna', species: hahamongna || [] },
  { title: 'Maywood Park', species: maywood || [] },
  { title: 'Hahamongna & Maywood Park', species: both || []}
]
%>

<% locations.each do |location| %>
  <h3><%= location[:title] %>: <%= location[:species].length %> species</h3>

  <div class="taxa-image-gallery">
    <% location[:species].each do |taxon| %>
      <%= render partial: './shared/taxa_gallery_item', locals: { taxon: taxon } %>
    <% end %>
  </div>

<% end %>


