<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
  <i class="fas fa-sliders-h"></i> Filters
</button>

<form autocomplete="off" class="area-diversity collapse" id="collapseFilters">
  <div class="row">
    <div class="col-sm-6">
      <%= render partial: "shared/filters_taxa_kingdoms" %>
    </div>

    <div class="col-sm-6">
    </div>
  </div>

  <button type="submit" class="btn btn-primary js-submit-filters">Apply filters</button>
  <button class="btn btn-primary js-reset-filters">Reset filters</button>
</form>


<div id="graph-edna"></div>
<div id="table-edna"></div>

<%= javascript_pack_tag 'la_river_sampling_types' %>
