@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "events";

@import "devise";
@import "samples";
@import "searches";
@import "taxa";


// =============
// layout
// =============

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.navbar-header {
  min-height: 125px;
}

.navbar-default {
  min-height: 125px;
}

.main-container {
  padding-top: 140px;
  padding-bottom: 170px;
}

// bottom of page or end of content footer
// https://stackoverflow.com/a/12253099

footer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 120px;
}

// =============
// common
// =============

.form {
  display: inline;
}

fieldset.border {
  border: solid 1px #DDD !important;
  padding: 0 15px 15px 15px;
  border-bottom: none;
  margin: 20px 0;
}

legend.border {
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
}

.page-header {
  border: none;
}

.navbar-default {
  background-color: #cbe2d3;
  border-color: #fff;

  .navbar-brand {
    padding: 15px 35px;

    #logo {
      max-height: 95px;
      max-width: 100%;
    }
  }

  .navbar-nav {
    padding: 15px 0;
    float: none;

    font-size: 16px;
    line-height: 2.5em;

    text-transform: uppercase;
  }
}

.navbar-default .navbar-nav > .open > a {
  background-color: #cbe2d3;

  &:hover {
    background-color: #cbe2d3;
  }

  &:focus {
    background-color: #cbe2d3;
  }
}

ul.nav li.dropdown > ul.dropdown-menu  {
  background-color: #cbe2d3;
  padding: 0 0 0 20px;
}

ul.nav li.dropdown > ul.dropdown-menu li {
  padding: 5px 0;
  margin: 10px 0;

  a {
    background-color: #cbe2d3 !important;
    border-bottom: 1px solid transparent;
    color: #777;
    padding: 0 20px;
    margin: 0;
    font-size: 14px;

    &:hover {
      border-bottom: 1px solid black;
    }
  }
}


@media (min-width: 768px) {
  .navbar-nav {
    margin-left: 290px;
  }
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }

  ul.nav li.dropdown > ul.dropdown-menu {
    li {
      a {
        font-size: 16px;
        padding: 0 20px 0 0;

      }
    }
  }

  .navbar .dropdown-menu {
    margin-top: 0px;
   }
}


footer {
  background-color: hsl(142, 28%, 84%);
  text-align: left;
  font-family: "proxima-nova";
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  padding: 1.5em 0 .7em;

  .social-accounts {
    float: right;
    text-align: right;
  }
}

@media (max-width: 1200px) {
  footer {
    // position: static;
    // bottom: 0;

    .social-accounts {
      padding: 0 20px !important;
      margin: 0 !important;
      text-align: center;
      float: none;
      width: auto;
    }

    .footer-block {
      width: auto !important;
      padding: 0 20px !important;
      text-align: center;
    }
  }
}

.clickable_row:hover {
  background:#eee;
  cursor: pointer;
}

#mapid {
  height: 80vh;
}

.samples-menu {
  margin-bottom: 1em;

  .btn-group {
    margin-right: 1em;
  }
}

.samples-links a {
  margin-left: .5em;
}
