@import "bootstrap-sprockets";
@import "bootstrap";

 body {
  padding-top: 50px;
}

.json {
  overflow-wrap: break-word;
  width: 80vw;
}

.clickable_row:hover {
  background:#eee;
  cursor: pointer;
}

#mapid { height: 80vh; }

.search-form {
  margin-bottom: 1em;
  display: inline;
  margin-left: 1em;
  .search_query {
    input {
      width: 20em;
    }
  }
}

.samples-menu {
  margin-bottom: 1em;

  .btn-group {
    margin-right: 1em;
  }
}



.samples-links a {
  margin-left: .5em;
}

.form {
  display: inline;
}

.taxonomy-tree td {
  border: none !important;
}
