@import "variables";

$brand-primary: darken($theme-base-color, 35%) !default;

@import "photoswipe/photoswipe";
@import "photoswipe/default-skin/default-skin";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font_awesome5";
@import "trix";

@import "events";
@import "devise";
@import "samples";
@import "searches";
@import "taxa";
@import "home";
@import "profile";
@import "auth";
@import "surveys";
@import "map";
@import "text_editor";
@import "tree-chart";
@import "research_projects";

// =============
// custom up to 320px
// xs up to 480px
// sm 768px and up
// md 992px and up
// lg 1200px and up
// =============

/*
@media (min-width: 480px) {
  html { background: yellow; }
}

@media (min-width: 768px) {
  html { background: red; }
}

@media (min-width: 992px) {
  html { background: blue;}
}

@media (min-width: 1200px) {
  html { background: green; }
}
*/

// =============
// layout
// =============

.main-container {
  padding-top: 4rem;
}

// =============
// footer at bottom of page or end of content
// https://stackoverflow.com/a/12253099
// =============

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-wrapper {
  min-height: 100%;
  position: relative;
  padding: 0;
  padding-bottom: 35rem;
}

footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  min-height: 28rem;
}

@media (min-width: 480px) {
  #main-wrapper {
    padding-bottom: 32rem;
  }

  footer {
    min-height: 25rem;
  }
}

@media (min-width: 768px) {
  #main-wrapper {
    padding-bottom: 19rem;
  }

  footer {
    min-height: 12rem;
  }
}

// =============
// typography
// =============

body {
  font-size: 16px;
  // font-size: calc(16px + .25vw);
}

blockquote,
dl,
dt,
figcaption,
li,
p,
textarea {
  line-height: 1.5em;
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1:first-of-type {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0 0.75em;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

// =============
// common
// =============

.subheading {
  margin-top: 0;
}

span.meta {
  color: rgb(170, 170, 170);
}

h1.border {
  border-top: 1px solid #ccc;
  padding-top: 1.5rem;
}

.submenu {
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;

  li {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.page-description {
  margin-bottom: 2em;
}

.form {
  display: inline;
}

fieldset.border {
  border: solid 1px #ddd !important;
  padding: 0 15px 15px 15px;
  border-bottom: none;
  margin: 20px 0;
}

legend.border {
  width: inherit; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
}

.clickable_row:hover {
  background: #eee;
  cursor: pointer;
}

#mapid {
  height: 80vh;
}

.samples-menu {
  margin-bottom: 1em;

  .btn-group {
    margin-right: 1em;
  }
}

.samples-links a {
  margin-left: 0.5em;
}

@keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

// =============
// nav
// =============

.navbar {
  margin-bottom: 0;
  background-color: $theme-base-color;

  li {
    line-height: 0;
  }
}

.nav > li > a {
  padding: 10px 10px;
}

.dropdown-menu {
  .divider {
    background-color: #aaa;
  }

  li {
    text-transform: none;
  }
}

.navbar-header {
  height: 100px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: lighten($theme-base-color, 10%);
}

.navbar-default {
  border-width: 0px;
  border-radius: 0px;
  min-height: 100px;
  font-size: 15px;

  .navbar-toggle {
    border-color: #888;

    &:hover {
      background-color: $theme-base-color;
    }

    &:focus {
      background-color: $theme-base-color;
    }
  }

  .navbar-collapse {
    border-color: #aaa;
  }

  .navbar-brand {
    padding: 5px 0px;

    #logo {
      max-height: 90px;
      max-width: 100%;
    }
  }

  .navbar-nav {
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    .navbar-nav {
      padding: 2rem 0 0 1rem;
    }
  }
}

ul.nav li.dropdown > ul.dropdown-menu {
  background-color: $theme-base-color;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: lighten($theme-base-color, 10%);
}

.navbar-default .navbar-nav > .open > a {
  background-color: lighten($theme-base-color, 10%);

  &:focus {
    background-color: lighten($theme-base-color, 10%);
  }
}

// =============
// footer
// =============

footer {
  background-color: $theme-base-color;
  padding: 1.5rem 0;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 0.4rem 0;
  }

  .social-media a:link {
    padding-right: 0.6rem;
  }

  a {
    color: $main-text;
  }

  a:hover {
    color: $main-text;
  }
}
