// =============
// custom up to 320px
// xs up to 480px
// sm 768px and up
// md 992px and up
// lg 1200px and up
// =============

/*
@media (min-width: 480px) {
  html { background: yellow; }
}

@media (min-width: 768px) {
  html { background: red; }
}

@media (min-width: 992px) {
  html { background: blue;}
}

@media (min-width: 1200px) {
  html { background: green; }
}
*/

// =============
// typography
// =============

body {
  font-size: 16px;
  // font-size: calc(16px + .25vw);
}

blockquote,
dl,
dt,
figcaption,
li,
p,
textarea {
  line-height: 1.5em;
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1:first-of-type {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0 0.75em;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

// =============
// common
// =============

img.note-float-right {
  margin: 10px 0 10px 10px;
}

img.note-float-left {
  margin: 10px 10px 10px 0;
}

.my-btn-default {
  background-color: #f6f6f6;
  border-color: $grey-border;
}

.my-btn-default:focus,
.my-btn-default:hover,
.my-btn-default.active {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}

.subheading {
  margin-top: 0;
}

span.meta {
  color: #999;
}

.data-source {
  color: #999;
  font-size: 90%;
}

h1.border {
  border-top: 1px solid $grey-border;
  padding-top: 1.5rem;
}

.submenu {
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $grey-border;

  li {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.page-description {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.cal-stats-container {
  background: $light-grey-background;
  display: flex;
  justify-content: center;
  margin: 1em 0;

  ul {
    padding: 0.75em 1em;
    list-style: none;
    font-size: 1.1em;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 94%;
  }

  @media (min-width: 768px) {
    ul {
      font-size: 1.2em;

      width: 730px;
    }
  }

  @media (min-width: 992px) {
    ul {
      width: 770px;
    }
  }

  @media (min-width: 1200px) {
    ul {
      width: 940px;
    }
  }

  li {
  }
}

.form {
  display: inline;
}

fieldset.border {
  border: solid 1px #ddd !important;
  padding: 0 15px 15px 15px;
  border-bottom: none;
  margin: 20px 0;
}

legend.border {
  width: inherit; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
}

.clickable_row:hover {
  background: #eee;
  cursor: pointer;
}

#mapid {
  height: 80vh;
}

.small-map {
  height: 50vh;
  + img {
    margin-top: 2em;
  }
}

.samples-menu {
  margin: 1em 0;

  .btn-group {
    margin-right: 1em;
  }
}

.samples-links a {
  margin-left: 0.5em;
}

@keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

.filters-container {
  margin: 1.5em 0;
}

// =============
// nav
// =============

.navbar {
  margin-bottom: 0;
  background-color: $theme-base-color;

  li {
    line-height: 0;
  }
}

.nav > li > a {
  padding: 10px 10px;
}

.navbar-default .navbar-nav > li > a {
  color: lighten($main-text, 10%);
}

.dropdown-menu {
  .divider {
    background-color: #aaa;
  }

  li {
    text-transform: none;
  }
}

.navbar-header {
  height: 100px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: lighten($theme-base-color, 10%);
}

.navbar-default {
  border-width: 0px;
  border-radius: 0px;
  min-height: 100px;
  font-size: 15px;

  .navbar-toggle {
    border-color: #888;

    &:hover {
      background-color: $theme-base-color;
    }

    &:focus {
      background-color: $theme-base-color;
    }
  }

  .navbar-collapse {
    border-color: #aaa;
  }

  .navbar-brand {
    padding: 5px 0px;

    #logo {
      max-height: 90px;
      max-width: 100%;
    }
  }

  .navbar-nav {
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .navbar-default {
    .navbar-nav {
      padding: 2rem 0 0 1rem;
    }
  }
}

ul.nav li.dropdown > ul.dropdown-menu {
  background-color: $theme-base-color;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: lighten($theme-base-color, 10%);
}

.navbar-default .navbar-nav > .open > a {
  background-color: lighten($theme-base-color, 10%);

  &:focus {
    background-color: lighten($theme-base-color, 10%);
  }
}

// =============
// footer
// =============

footer {
  background-color: $theme-base-color;
  padding: 1.5rem 0;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 0.4rem 0;
  }

  #social-media-links {
    padding: 17px 0;
    a {
      margin: 0 3px;
    }
  }

  a {
    color: $main-text;
  }

  a:hover {
    color: $main-text;
  }
}

.map-button-info:before {
  font-family: "Open Sans", sans-serif;
  left: -3px;
  position: relative;
  content: "i";
  font-size: larger;
}

label {
  display: inline;
}


/*
https://stephanwagner.me/only-css-loading-spinner
 */
 @keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top-color: #5aa172;
  animation: spinner 0.8s linear infinite;
  z-index: 500;
}
