.events-list {
  h1 {
    font-size: 2.5rem;
    margin-top: 0px;
  }


  @media (min-width: 480px) {
    .panel {
      min-height: 14rem;
    }
  }

  @media (min-width: 768px) {
    .panel {
      min-height: 20rem;
    }
  }

  @media (min-width: 992px) {
    .panel {
      min-height: 25rem;
    }
  }
}

.events-menu {
  margin-bottom: 1em;
}
