@media (min-width: 768px) {
  .modal-dialog {
    width: 70%;
  }
}
.leaflet-bar button {
  height: 30px;
  width: 30px;
}

// https://stephanwagner.me/only-css-loading-spinner
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 5px solid $grey-border;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

dl.primer-list {
  margin-bottom: 2em
}
