.my-modal-mask {
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;

  .modal-container {
    position: relative;
    width: auto;
    margin: 10px;
    background-color: #fff;
    border-radius: 6px;
  }

  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }

  .modal-header h4, .modal-header h3, .modal-header h2, .modal-header h1   {
    margin: 0;
  }

  .modal-default-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
  }

  @media (min-width: 768px) {
    .modal-container {
      width: 70%;
      margin: 30px auto;
    }
  }

}
