.taxonomy-tree {
  width: auto !important;

  td {
    border: none !important;
  }

  caption {
    font-weight: bold;
    font-size: 2rem;
  }
}

.data-source {
  color: #777;
  font-size: 90%;
}

.taxa-markers {
  margin-bottom: 10px;
  div {
    display: flex;
    align-items: center;
  }
}

.taxa-image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    margin: 10px 5px;
  }

  .item img {
    width: 100%;
    border: 1px solid #ddd;
  }

  .item p {
    border: 0 solid #ddd;
    border-width: 0 1px 1px 1px;
    padding: 5px;
  }

  @media (min-width: 768px) {
    .item img {
      width: 275px;
    }
    .item p {
      width: 275px;
    }
  }

  @media (min-width: 1200px) {
    .item img {
      width: 275px;
    }
    .item p {
      width: 275px;
    }
  }

  .item img {
    display: block;
  }
}
