.table.taxonomy-tree {
  width: auto !important;

  margin-top: 1em;

  td {
    border: none !important;

    padding: 2px 20px 2px 0;
  }

  caption {
    font-weight: bold;
    font-size: 2rem;
  }

  .minor-rank {
    display: none;
  }
}

button.btn.js-taxonomy-abridged {
  display: none;
}

.data-source {
  color: #777;
  font-size: 90%;
}

.taxa-markers {
  margin-bottom: 10px;
  div {
    display: flex;
    align-items: center;
  }
}

.taxa-image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    margin: 10px 5px;
  }

  .item img {
    width: 100%;
    border: 1px solid #ddd;
  }

  .item p {
    border: 0 solid #ddd;
    border-width: 0 1px 1px 1px;
    padding: 5px;
  }

  @media (min-width: 480px) {
    .item img {
      width: 225px;
    }
    .item p {
      width: 225px;
    }
  }

  .item img {
    display: block;
  }
}

.children-taxonomy {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  list-style: none;
}
