.taxonomy-tree  {
  width: auto !important;

  td {
    border: none !important;
  }

  caption {
    font-weight: bold;
    font-size: 2rem;
  }
}



.data-source {
  color: #777;
  font-size: 90%;
}
