@import "./summernote";

// "administrate/components/field-unit" causes style bug with summernote menu;
// bug: the menu icons move when you scroll past the menu
// change "display: fix" to "display: block" to fix bug.
.field-unit {
  display: block;
}

.field-unit__label {
  float: none;
  margin-left: 0;
  text-align: left;
  width: 100%;
}

.field-unit__field {
  float: none;
  margin-left: 0;
  width: 60%;
}

// add styles to make text-editor layout look like adminstrate
body {
  background-color: #f6f7f7;
}

.app-container {
  max-width: inherit;
}

.navigation {
  width: 17rem;
  font-size: 1.6rem;

  a {
    text-decoration: underline;
  }
}
