.tree-chart {
  .node circle {
    cursor: pointer;
    fill: #fff;
    stroke-width: 1.5px;
  }

  path.link {
    fill: none;
    stroke: $grey-border;
    stroke-width: 1.5px;
  }

  svg {
    border: 2px solid #aaa;
  }
}
