.p-l-sm {
  padding-left: 15px;
}
.p-r-sm {
  padding-right: 15px;
}

.p-t-sm {
  padding-top: 15px;
}
.p-b-sm {
  padding-bottom: 15px;
}

.p-b-zero {
  padding-bottom: 0;
}

.p-t-zero {
  padding-top: 0;
}

.m-l-sm {
  margin-left: 15px;
}
.m-r-sm {
  margin-right: 15px;
}

.m-t-sm {
  margin-top: 15px;
}
.m-b-sm {
  margin-bottom: 15px;
}

.m-b-zero {
  margin-bottom: 0;
}

.m-t-zero {
  margin-top: 0;
}

.m-l-md {
  margin-left: 30px;
}
.m-r-md {
  margin-right: 30px;
}

.m-t-md {
  margin-top: 30px;
}
.m-b-md {
  margin-bottom: 30px;
}
