<div class="page-header">
  <h1>Research Projects</h1>
  <p>
    Here's some of scientific reasearch projects that are studying our eDNA data.
  </p>
</div>

<table class="table">
  <tr>
    <th>Name</th>
  </tr>

  <% @projects.each do |project| %>
    <tr class="clickable_row" data-path='<%=  research_project_path project%>' >
      <td><%= project.name %></td>
    </tr>
  <% end %>
</table>

<%= paginate @projects %>
