<% if @project.present? %>
  <h1><%= @project.name %></h1>

  <p><%= @project.description %></p>

  <h2>Sites</h2>

  <div id="projects-details-map"></div>
  <%= javascript_pack_tag 'research_projects_details_map' %>
  <%= stylesheet_pack_tag 'research_projects_details_map' %>
<% end %>
