<h1>Site News</h1>

<% @news.each do |news| %>
  <h3><%= link_to news.title, site_news_path(news) %></h3>
  <p class="news-meta">Posted on <%= long_date(news.published_date) %></p>
  <div><%= truncate(news.body, length: 250, omission: "..." , escape: false) %></div>
  <p><%= link_to "Read more.", site_news_path(news) %></p>
<% end %>
