<% if  @project.metadata != {} %>
<table class="table">
  <tr>
    <td>Reference barcode database</td>
    <td><%= @project.reference_barcode_database %></td>
  </tr>
  <tr>
    <td>DRYAD link</td>
    <td><%= @project.dryad_link %></td>
  </tr>
  <tr>
    <td>Decontamination method</td>
    <td><%= @project.decontamination_method %></td>
  </tr>
  <tr>
    <td>Primers</td>
    <td><%= @project.primers %></td>
  </tr>
</table>
<% end %>

