<% list_view = params[:view] == 'list' %>

<h3>Sites</h3>

<div class="samples-menu">
  <div class="btn-group" role="group" >
    <a href="<%= research_project_page_path(research_project_id: params[:research_project_id], id: params[:id]) %>"
      class="<%= pill_menu_classes(!list_view) %>">
      <i class="fas fa-map-marker-alt"></i> Map
    </a>
    <a href="<%= research_project_page_path(research_project_id: params[:research_project_id], id: params[:id], view: :list) %>"
      class="<%= pill_menu_classes(list_view) %>">
      <i class="far fa-list-alt"></i> List
    </a>
  </div>
</div>
