<h1><%= @place.name%></h1>

<% if @place.image.attachment.present? %>
  <%= image_tag @place.image, class: 'img-responsive m-t-md m-b-md' %>
<% end %>

<div id="places-details-charts"></div>
<div id="places-details-map"></div>
<%= javascript_pack_tag 'places_details' %>
<%= stylesheet_pack_tag 'places_details' %>
