<% content_for(:title) { 'Normalize taxonomy for test results' } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <table  class="no-auto-link">
    <tr>
      <th>rank</th>
      <th>DNA test results</th>
      <th></th>
    <tr>
    <% @taxa.each do |taxon| %>
    <tr>
      <td><%= taxon.rank %></td>
      <td><%= taxon.taxonomy_string %></td>
      <td><%= link_to 'Edit', admin_labwork_normalize_taxon_path(taxon) %></td>
    </tr>
    <% end %>
  </table>
</section>
