<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div id="social-media-links">
          <a href="https://www.facebook.com/caledna/" target="_blank" class="sqs-svg-icon--wrapper facebook">
            <%= fa_icon(:facebook, size: 'lg', type: :brand)%>
          </a>
          <a href="https://www.instagram.com/cal.e.dna/" target="_blank" class="sqs-svg-icon--wrapper facebook">
            <%= fa_icon(:instagram, size: 'lg', type: :brand)%>
          </a>
          <a href="https://www.facebook.com/ucconservationgenomics/" target="_blank" class="sqs-svg-icon--wrapper facebook">
            <%= fa_icon(:facebook, size: 'lg', type: :brand)%>
          </a>
        </div>

        <ul>
          <li><a href="http://www.ucedna.com/contact">Contact Us</a></li>
          <li><a href="https://caledna.substack.com">Newsletter</a></li>
          <li><a href="http://www.ucedna.com/terms">Terms of Use</a></li>
        </ul>
      </div>

      <div class="col-sm-9">
        <p>
          CALeDNA is a program run by the University of California Conservation
          Genomics Consortium, supported by the Office of the UC President
          through the Catalyst Grant Program
        </p>
        <p>
          <a href="https://data.ucedna.com/admin/researchers">CLICK HERE FOR STAFF LOGIN </a>
        </p>
      </div>
    </div>
  </div>
</footer>
