<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <ul>
          <li><a href="http://www.ucedna.com/contact">Contact Us</a></li>
          <li><a href="http://www.ucedna.com/newsletter">Newsletter</a></li>
          <li><a href="http://www.ucedna.com/terms">Terms of Use</a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <ul>
          <li>
            <a href="https://www.facebook.com/caledna/" target="_blank" class="sqs-svg-icon--wrapper facebook">
              <%= fa_icon(:facebook, size: 'lg', type: :brand)%>
            </a>
          </li>
        <ul>
      </div>

      <div class="col-sm-8">
        <p>
          CALeDNA is a program run by the University of California Conservation
          Genomics Consortium, supported by the Office of the UC President
          through the Catalyst Grant Program
        </p>
      </div>
    </div>
  </div>
</footer>
