<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div id="social-media-links">
          <a href="https://www.facebook.com/ucconservationgenomics/">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="https://www.instagram.com/cal.e.dna/">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
          <a href="https://twitter.com/CALeDNA_biodiv">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </div>

        <ul>
          <li><a href="http://www.ucedna.com/contact">Contact Us</a></li>
          <li><a href="https://caledna.substack.com">Newsletter</a></li>
          <li><a href="http://www.ucedna.com/terms">Terms of Use</a></li>
        </ul>
      </div>

      <div class="col-sm-9">
        <p>
          CALeDNA is a program run by the University of California
          Conservation Genomics Consortium, supported by the UCSC
          Genomics Institute, the University of California Office of the UC
          President through the Catalyst Grant Program, Metabolic Studio,
          the Howard Hughes Medical Institute, and the Global Genome
          Biodiversity Network.
        </p>
        <p>
          <a href="https://data.ucedna.com/admin/researchers">CLICK HERE FOR STAFF LOGIN </a>
        </p>
      </div>
    </div>
  </div>
</footer>
